body {
    background-image: url(http://eskipaper.com/images/gray-background-3.jpg);
    background-color: white;
    background-position: fixed;
    height: 500px; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#add-buttons,
.definition,
#provided,
#definition-form,
#current-word {
    border: 2px solid black;
    background-color: black;
    color: rgb(182, 156, 10);
    font-family: 'Special Elite', cursive;
}

h1 {
    font-family:'Frijole', cursive;
    font-size: 85px;
}

#current-word,
.definition, {
    height: 150px;
}

#add-buttons {
    height: 50px;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}

#add-definition {
    margin: 5px;
    background-color: rgb(182, 156, 10);
}

#definition-input{
    margin: 2px;
    padding: 2px;
}

.jumbotron {
    background-color: black;
    color: rgb(182, 156, 10);
}

.column {
    float: left;
    padding: 25px;
}

.left, .right {
    width: 25%;
}

.middle {
    width: 50%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.definition {
    height: auto;
    font-family:'Special Elite', cursive;
}

.center {
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}
